.bg-color-custom {
    background-color: #111133 !important;
}
#btn-area {
    background-color: #111133 !important;
    border: 1px solid white;    
}
.bg-color-custom-red {
    background-color: #dc3545 !important;
}
#header-image {
    width: 100%;
}
#main-body {
    background-color: white;
    border-bottom: 15px solid #dc3545;
}