body{
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
}
img{
    max-width: 100%;
  }
  .PatientAppointmentBtn{
      font-size: 9px;
      height: 30px;
      background: #3176BB;
      color: white;
      font-family: arial;
      border: none;
      box-shadow: 0px 1px 3px #26486b;
  }
  .PatientAppointmentBtn:focus{
    border-style: none;
    outline: none;
  }
  .logo_img {
    padding: 0px 15px;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    margin: 0;
	position: fixed;
    width: 100%;
}
.box_shado {
    box-shadow: 0px 5px 8px 3px #ddd!important;
}
.img-fluid {
    max-width: 100%;
    height: 100%;
}
aside.main-sidebar.sidebar-default.elevation-4 {
    margin-top: 57px;
}
.Patients_hea {
	font-weight:600 !important;
}
li.PatientsName {
    line-height: 14px;
}
.elevation-4{
	box-shadow:none !important;
	border-right: 1px solid #dee2e6 !important;
}
section.content {
    padding-top: 50px !important;
}
.b{
	background: #e1e0e0;
}
a,p,h1,h2,h3,h4,h5,h6,span{
	color: #333333 !important;
	font-weight:600;
}
.small-box {
    border-radius: 20px;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    padding-bottom: 0;
    padding-top: 16px;
}
.hospital, .dibates{
	color: #19496F !important;
}
.res_menu a {
    margin-bottom: -17px !important;
}
.avtr{
	border: 2px solid #3176bb;
    border-radius: 50%;
	margin-top: -18px;
}
span.badge.navbar-badge img {
    width: 60%;
}
.frm{
	background: white; 
	border: 1px solid #c1c1c1; 
	border-radius: 20px;
}
.wadel{
	font-size: 12px;
	font-weight: 700;
	color:#19496F;
	line-height: 12px;
}
.dropdown-menu h3{
	font-size:12px !important;
}
.mari{
	border-left: 4px solid #415CE3;
	padding: 0px 5px;
	font-weight: 600;
}
  @media(max-width: 768px){
    .PatientAppointmentBtn{
      width: 100%; margin-top: 8px;
    }
	.res_menu a {
    font-size: 0px;
	}
  }
  @media(min-width: 768px){
	.menu_I {
    display: none;
}
  }
  @media(max-width: 560px){
    #infodr{
      display: none;
    }
  }
  .customSmallBox{
    box-shadow: none !important;
  }
  .navbar-badge{
    top: 25px;
  }
 